/* Start Variables */
:root {
    --main-color: #19C8FA;
}
/* End Variables */

/* Global Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
}
ul {
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width:768px) {
    .container {
        width: 750px;
    }
}
@media (min-width:992px) {
    .container {
        width: 970px;
    }
}
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
.main-heading {
    position: relative;
    text-align: center;
    margin-top: 70px;
}
.main-heading h2 {
    font-weight: normal;
    position: relative;
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 60px;
}
.main-heading h2::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -20px;
    height: 2px;
    width: 130px;
    background-color: #333;
}
.main-heading h2::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: -28px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: white;
}
.main-heading p {
    max-width: 500px;
    line-height: 1.8;
    color: #777;
    margin: 0 auto 100px;
}
/* End Global Rules */

/* Start Header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
}
header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: 97px;
}
header .container::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    width: calc(100% - 30px);
    background-color: #f2f2f2;
}
header .logo img{
    height: 40px;
}
nav {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
}
nav .menu {
    font-size: 22px;
    color: white;
}
@media (min-width:768px) {
    nav .menu {
        display: none;
    }
}
nav ul {
    display:flex;
}
@media (max-width:767px) {
    nav ul {
        display: none;
    }
    nav .menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
    }
    nav ul li a {
        padding: 15px !important;
    }
}
nav ul li a {
    display: block;
    color: white;
    text-decoration: none;
    transition: .3s;
    padding: 40px 10px;
    font-size: 14px;
    position: relative;
    z-index: 2;
}
nav ul li a.active,
nav ul li a:hover {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header .search {
    position: relative;
    border-left: 1px solid white;
    width: 40px;
    height: 30px;
    margin-left: 30px;
}
header .search i {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translatey(-50%);
}
/* End Header */

/* start landing */
.landing {
    background-color: cornflowerblue;
    background-image: url(../images/landing.jpg);
    background-size: cover;
    color: white;
    min-height: 100vh;
    position: relative;
}
/* .landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;    
} */
.landing .text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 50%;
    background-color: rgba(15, 116, 143, .5);
    padding: 30px 50px;
    display: flex;
    justify-content: end;
    z-index: 3;
}
@media (max-width:767px) {
    .landing .text {
        width: 100%;
    }
}
.landing .content {
    max-width: 500px;
}
@media (max-width:767px) {
    .landing .content {
        max-width: 100%;
    }
}
.landing .content h2 {
    line-height: 1.5;
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 32px;
}
.landing .content p {
    font-size: 14px;
    line-height: 1.8;
}
.landing .icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    z-index: 5;
}
@media (max-width:767px) {
    .landing .icon {
        display: none;
    }
}
.landing .fa-angle-left {
    left: 20px;
}
.landing .fa-angle-right {
    right: 20px;
}
.landing .bullet {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
    display: flex;
    z-index: 4;
}
.landing .bullet li {
    width: 25px;
    height: 25px;
    border: 1px solid white;
    margin-right: 10px;
    border-radius: 50%;
}
.landing .bullet li.active {
    background-color: var(--main-color);
}
/* end landing */

/* Start Services */
@media (min-width:768px) {
    .services .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }

}
.serv-box {
    display: flex;
}
.serv-box i {
    margin-right: 50px;
}
@media (max-width:767px) {
    .serv-box {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .serv-box i {
        margin: 0 0 20px;
    }
}

.serv-box .text h2 {
    margin-bottom: 20px;
    color: var(--main-color);
}

.serv-box .text p {
    line-height: 2;
    color: #777;
}
/* End Services */

/* Start Design Section */
.design {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    align-items: center;
    background-image: url('../images/design-features.jpg');
    background-size: cover;
    position: relative;
    height: 600px;
    overflow: hidden;
}
.design::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, .8);
}
.design .image,
.design .text {
    position: relative;
    flex: 1;
    z-index: 2;
}
.design .image {
    text-align: center;
}
.design .image img {
    position: relative;
    bottom: -150px;
}
@media (max-width:767px) {
    .design .image {
        display: none;
    }
}
.design .text {
    color: white;
    width: 50%;
    background-color: rgba(15, 116, 143, .5);
    padding: 40px;
}
.design .text h2 {
    text-transform: uppercase;
    margin-bottom: 20px;
    font-weight: inherit;
}
.design .text ul li {
    padding-bottom: 15px;
}
.design .text ul li::before {
    font-family: "font awesome 5 free";
    content: "\f108";
    font-weight: 900;
    padding-right: 10px;
}
/* End Design Section */

/* start portfolio */
.portfolio .menu {
    margin-bottom: 70px;
    text-align: center;
}
.portfolio .menu span {
    margin-left: 20px;
}
.portfolio .menu .active {
    background-color: var(--main-color);
    padding: 6px 10px;
    color: white;
}
.portfolio .projects {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;

}
@media (min-width: 768px) {
    .projects .box {
        flex-basis: 50%;
    }
}
@media (min-width: 1199px) {
    .projects .box {
        flex-basis: 25%;
    }
}
.projects .box {
    position: relative;
    overflow: hidden;
}
.projects .box img {
    max-width: 100%;
    transition: .3s;
}
.projects .box .caption h3 {
    padding: 20px 0 10px;
    font-weight: normal;
}
.projects .box .caption p {
    padding: 0 0 20px;
    font-weight: normal;
    color: var(--main-color);
}
.projects .box .caption {
    width: 100%;
    background-color: white;
    padding-left: 20px;
    transition: 0.3s;
    position: absolute;
    bottom: -100%;
    left: 0;
}
.projects .box:hover img {
    transform: rotate(3deg) scale(1.1);
}
.projects .box:hover .caption {
    bottom: 0;
    background-color: rgba(255,255, 255, .9);
}
.portfolio .more {
    background-color: var(--main-color);
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 40px;
    padding: 8px 35px;
    font-size: 20px;
    color: wheat;
    border-radius: 5px;
}
/* End Portfolio */

/* Start Video  */
.video {
    position: relative;
    margin-top: 120px;
}
.video::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0, 0, .4);
}
.video video {
    width: 100%;
    
}
.video .text {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    text-align: center;
    color: white;
    background-color: rgb(15 116 143 / 70%);
    width: 100%;
    z-index: 1;
    padding: 50px;
}
.video .text h2{
    font-weight: normal;
    margin-bottom: 20px;
}
.video .text p{
    margin-bottom: 20px;
    font-size: 20px;
}
.video .text button {
    color: white;
    background-color: black;
    padding: 6px 20px;
    border-color: black;
    border-radius: 5px;
}

/* End Video  */

/* start about */
.about {
    position: relative;
    text-align: center;
    overflow: hidden;
}
.about img {
    max-width: 100%;
    position: relative;
    bottom: -100px;
    margin-top: -150px;
    right: 20px;
    z-index: -1;
}
.statistic {
    padding-top: 100px;
    padding-bottom: 100px;
    text-align: center;
    background-image: url(../images/sta5.jpg);
    background-size: cover;
}
.statistic::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 85%);
  }
.st-cont {
    display: flex;  
    flex-wrap: wrap;  
    position: relative;
}
.st-cont .card {
    color: white;
    padding: 50px;
    background-color: rgb(15 116 143 / 70%);
}
@media (max-width:767px) {
    .st-cont .card {
        flex-basis: 100%;
        border-bottom: 1px solid white;
    }
}
@media (min-width:768px) {
    .st-cont .card {
        flex-basis: 50%;
    }
    .st-cont .card:first-child,
    .st-cont .card:nth-child(2) {
        border-bottom: 1px solid white;
    }
    .st-cont .card:first-child,
    .st-cont .card:nth-child(3) {
        border-right: 1px solid white;
    }
}
@media (min-width:992px) {
    .st-cont .card {
        flex-basis: 25%;
    }
    .st-cont .card:first-child,
    .st-cont .card:nth-child(2) {
        border-bottom: 0px solid white;
        border-right: 1px solid white;
    }
}
.st-cont .card i {
    margin-bottom: 20px;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 50%;
}
.st-cont .card h3 {
    font-size: 50px;
    margin-bottom: 20px;
}

/* End About */

/* Start testimonials-skils */
.testimonials-skils {
    padding-top: 100px;
    padding-bottom: 100px;
}
.testimonials-skils .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
@media (min-width: 992px) {
    .testimonials-skils .container>div {
        flex-basis: 45%;
    }
}
.testimonials h3 , .skils h3{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 30px;
    text-align: center;
}
.testimonials .par , .skils .par {
    line-height: 2;
    color: #777;
    margin-bottom: 70px;
    text-align: center;
}
.testimonials .bio {
    display: flex;
    margin-bottom: 30px;
}
.testimonials .bio img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 50px;
    margin-bottom: 20px;
}
@media (max-width: 767px) {
    .testimonials .bio {
      flex-direction: column;
      text-align: center;
    }
    .testimonials .bio img {
      margin: 0 auto 20px;
    }
    .testimonials .bio .text h4 {
        text-align: center;
    }
  }
.testimonials .bio h4{
    line-height: 2;
    text-align: left;
    font-weight: normal;
}
.testimonials .bio p{
    text-align: end;
    color: #777;
    margin-bottom: 20px;
}
.testimonials .bullet {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.testimonials .bullet ul {
display: flex;
}
.testimonials .bullet ul li {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border: 1px solid #777;
    border-radius: 50%;
}
.testimonials .bullet ul li.active {
    background-color: var(--main-color);
    outline-color: white;
}
.testimonials-skils .skils .fav-skils {
    text-align: left;
}
.skils .skils-content h4{
    margin-bottom: 10px;
    font-weight: normal;
}
.testimonials-skils .skils .skils-content div{
    width: 100%;
    height: 30px;
    background-color: #DEDADC;
    margin-bottom: 40px;
    position: relative;
}
.skils .skils-content span {
    position: absolute;
    height: 100%;
    background-color: var(--main-color);
}
.skils .skils-content span::before {
    content: attr(data-progress);
    background: #000;
    color: white;
    position: absolute;
    right: -18px;
    top: -40px;
    padding: 4px 6px;
    border-radius: 5px;
}
.skils .skils-content span::after {
    content: "";
    border-style: solid;
    border-width: 8px;
    border-color: #000 transparent transparent transparent;
    position: absolute;
    right: -7px;
    top: -15px;
}
/* End testimonials-skils */

/* Start Quote */
.quote {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    text-align: center;
    color: white;
    background-image: url(../images/quote.jpg);
    background-size: cover;
}.quote::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb( 0 0 0/ 75%);
}
.quote .container {
    position: relative;
    z-index: 1;
}
.quote q {
    font-size: 30px;
    display: block;
    margin-bottom: 30px;
}
.quote q::before {
    font-family: "font awesome 5 free";
    content: "\f10d";
    font-weight: 900;
    padding-right: 5px;
}
.quote q::after {
    font-family: "font awesome 5 free";
    content: "\f10e";
    font-weight: 900;
    padding-right: 5px;
}
/* End Quote */

/* Start Pricing */
.pricing {
    padding-bottom: 100px;
    padding-top: 100px;
}
.pricing .plans {
display: grid;
grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
gap: 30px;
}
.pricing .plans .plan {
    background-color: #FCFCFC;
    text-align: center;
    position: relative;
}
.plans .plan .head {
    padding: 40px 20px;
    border-top: 1px solid var(--main-color);
    border-bottom: 1px solid var(--main-color);
}

.plans .plan .head h3 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
}
.plans .plan .head span{
    font-weight: bold;
    font-size: 60px;
}
.plans .plan .head span::before{
    content: "$";
    position: absolute;
    top: 70px;
    left: 80px;
    font-size: 30px;
    font-weight: normal;
}
.plans .plan .head span::after{
    content: "/MO";
    position: absolute;
    top: 120px;
    right: 60px;
    font-size: 20px;
    font-weight: bold;
}
.plan ul {
border-bottom: 1px solid var(--main-color);
}
.plan ul li {
    padding: 20px;
    position: relative;
}
.plan ul li:not(:last-child)::after {
    content: "";
    width: 120px;
    height: 1px;
    position: absolute;
    bottom: 0;
    background-color: var(--main-color);
    left: 50%;
    transform: translateX(-50%);
}
.plan .foot a {
    display: block;
    text-decoration: none;
    padding: 20px 40px;
    border: 1px solid var(--main-color);
    margin: 30px auto;
    width: fit-content;
    color: #5592D1;
}
.pricing .contact-text {
    text-align: center;
    margin-top: 50px;
    font-size: 22px;
}
.pricing .contact-link {
    text-align: center;
    text-decoration: none;
    border: 1px solid white;
    background-color: var(--main-color);
    padding: 12px 20px;
    color: white;
    font-size: 20px;
    margin: 20px auto;
    display: block;
    width: fit-content;
}
/* End Pricing */

/* Start Subscribe */
.subscribe {
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../images/subscribe.jpg);
    background-size: cover;
    position: relative;
    margin-bottom: 200px;
}
.subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb( 0 0 0/ 75%);
}
.subscribe .container {
    display: flex;
    align-items: center;
    position: relative;
}
@media (max-width:991px) {
    .subscribe .container {
        flex-direction: column;
    }
    .subscribe form {
        margin-bottom: 30px;
    }
}
.subscribe form {
    display: flex;
    position: relative;
    width: 500px;
    max-width: 100%;
}
.subscribe form i{
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 25px;
}
.subscribe form input[type="email"] {
    padding: 20px 20px 20px 60px;
    background-color: transparent;
    border: 1px solid white;
    border-right: none;
    caret-color: var(--main-color);
    color: white;
    width: calc(100% - 130px);
}
.subscribe form input[type="email"]::placeholder {
    color: white;
}
.subscribe form input[type="email"]:focus {
    outline: none;
}
.subscribe form input[type="submit"] {
    width: 130px;
    background-color: var(--main-color);
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-left: none;
    text-transform: uppercase;
}
.subscribe p {
    color: wheat;
    line-height: 2;
    margin-left: 50px;
}
/* End Subscribe */